@import url(http://fonts.googleapis.com/css?family=Condiment);
@import url(http://fonts.googleapis.com/css?family=Condiment|Neuton);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style type="text/css">
        	.para {
        		font-family: 'Open Sans', sans-serif;
        	}
 
 			#harsh {
 				font-family: 'Condiment', cursive;
 				font-style: italic;
 			}

 			.cn {
 				font-family: 'Neuton', serif;
 			}

 			h1 {
 				text-transform: uppercase;
 			}

 			a {
 				font-size: 10px;
 			}

 			a:hover {
 				color: red;
 			}
        </style>
    </head>
    <body>
    </body>
</html>